depends+=(libelogind)
conflicts+=("alchemy-next-viewer-systemd-git")

#template start; name=prepare; version=1.0
#template end

#template start; name=build; version=1.0
#template end

#template start; name=package; version=1.0
#template end

