if [[ -n "$USE_VENV" ]]; then
  virtualenv ".venv" -p python3
  . ".venv/bin/activate"
fi

echo "Installing build toolchain..."
pip3 install --upgrade certifi --quiet
pip3 install --upgrade llbase --quiet
pip3 install --no-cache --upgrade autobuild --quiet
pip3 install --upgrade cmake ninja

# vi: set ai softtabstop=2 shiftwidth=2 tabstop=2 expandtab ft=sh :
