prepare() {
  cd ${srcdir} || exit
    echo "Creating virtual environment in $PWD"
    virtualenv ".venv" -p python3
    source "${srcdir}/.venv/bin/activate"

    echo "Installing build toolchain..."
    pip3 install --upgrade certifi --quiet
    pip3 install --upgrade llbase --quiet
    pip3 install --no-cache --upgrade autobuild --quiet
    pip3 install --upgrade cmake ninja
}
